@font-face {
  font-family: Sukhumvit-B;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face {
  font-family: Sukhumvit-L;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face {
  font-family: Sukhumvit-M;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face {
  font-family: Sukhumvit-S;
  src: url(../fonts/Sukhumvit/SukhumvitSet-SemiBold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face {
  font-family: Sukhumvit-T;
  src: url(../fonts/Sukhumvit/SukhumvitSet-Text.ttf);
  font-style: normal;
  font-variant:initial;
}

body {
 
  background-image: repeating-linear-gradient(135deg , #f7f6f5  , #f7f6f5 5px, #fdfdfd 5px, #fdfdfd 10px); 
  /*fdfdfd fafafa*/
  z-index:2;
 
}
/*#bodys {
 
  height: 100%;
  z-index: -1;
  background-image: url(../img/bg-h_1.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}*/


#cover{
  /*background-image: url(../img/bg-h_1.png);
  background-size: 100% auto;
  background-repeat: no-repeat;*/
  position: absolute;
  top: 0px;
  z-index: -1;
  font-family: Sukhumvit-S;
  text-align: center;
  line-height: 100px;
}
#set-cover{
  /*background-image: url(../img/bg-h_1.png);
  background-size: 100% auto;
  background-repeat: no-repeat;*/
 
  z-index: 10;
  font-family: Sukhumvit-S;
  text-align: center;
 
}

/*#set-cover .search-put{
  width: 200px;
  text-align: right;
  font-family: Sukhumvit-S;

 
}*/


a:hover{
   text-decoration: none;
}
.none-pad{
   padding: 0px 0px 0px 0px !important;
}

.hh1 h3{
   font-family: Sukhumvit-S;
   text-align: center;
}
.menu-top{
  font-family: Sukhumvit-S;
  text-transform: uppercase;
}

/*/////////////////////////////////  MENU  //////////////////////////////////////////////*/
.aac2{
  height: 100px;
  width: 100%;
  margin:0px;
  border-right:0px solid transparent;
}

.nav-item:hover .aac2{
  background-color: #002852;
  color: #fff;
  border-right:2px solid #fff;  
}
.nav-item:hover .aac1{
  background-color: #002852;
  color: #fff;
  border-right:2px solid #fff;  
}

.aac1{
  border-right:2px solid #e6e6e7;
  background-color: #fff;
  color: #002852;
}

.menu-top .active .aac2{
  border-right:0px solid #fff;  
}
.menu-top .active .aac1{
  border-right:0px solid #fff;  
}

.menu-top .active{
  background-color: #002852;  
}
/*/////////////////////////////////  MENU  //////////////////////////////////////////////*/


/*/////////////////////////////////  MENU  //////////////////////////////////////////////*/
.acb2{
  height: 100px;
  width: 60px;
  margin:0px;
  border-right:none;  
  
}
.acb2 a{
  position: absolute;
  bottom: 0;
  margin-bottom: 60px; 
  font-size: 14px;
  color: #002852;
  margin-left: 5px;
}

.acb1{
  border:none;
  background-color: #00a2e3 !important;
  color: #002852;
 }

 

.ass2{
  height: 100px;
  width: 100%;
  margin:0px;
  padding: 0px;
  border-right:none;  
}
.ass2 a{
  position: absolute;
  bottom: 0;
  margin-bottom: 60px; 
  color: #002852;
  font-size: 30px;
  margin-left: 40px;
}

.ass1{
  border:none;
  margin:0px;
  background-color: #00a2e3 !important;
  color: #002852;
 }
 
/*/////////////////////////////////  MENU  //////////////////////////////////////////////*/
.text-tol{
  font-family: Sukhumvit-S;
  color: #404041;
  position: absolute;
  z-index: 99;
  top:0px; 
  background-color: rgba(255,255,255,.5);
  padding: 10px;
  padding-right: 5px;
  height: 70px;
 
}
.text-tol span{
  font-family: Sukhumvit-S;
  font-size: 12px;
  padding-top: 0px;
  text-transform: uppercase;
}

.text-div{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -28px;
  border-color: rgba(255,255,255,.5) transparent transparent transparent;
  border-style: solid;
  border-width: 70px 28px 0 0 ;
}

.text-tol2{
  font-family: Sukhumvit-S;
  color: #fff;
  position: absolute;
  top:0px; 
  background-color:#002852;
  padding: 10px;
  padding-right: 20px;
  height: 50px;
  padding-left: 20px;
 
}
.text-tol2 span{
  font-family: Sukhumvit-S;
  font-size: 12px;
  padding-top: 0px;
  text-transform: uppercase;
}
.text-div2{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -28px;
  border-color: #002852 transparent transparent transparent;
  border-style: solid;
  border-width: 50px 28px 0 0 ;
}


.p-main{
  padding: 0px;
  background-color: #fff;
  height: 60px;
}
 
.p-1{
  position: absolute;
  top: 0px;
  font-family: Sukhumvit-S;
  color: #e6e6e7; 
  background-color: #002852;
  line-height: 50px;
  padding-left: 15px !important;
  width: 180px;
  height: 60px;

}
.p-t{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -27px; 
  border-bottom: 60px solid #002852;
  border-right: 27px solid transparent;
}
#main-icon{
  background-color: #657d96;
}

.icon-text{
  font-family: Sukhumvit-S;
  color: #e6e6e7; 
  text-align: center;  
  padding:  15px 0 15px 0;
}
.icon-text{
  margin-bottom: 20px;
}
.icon-sub:hover{
  background-color: #002852;
}

.icon-sub img{
   margin-top: 15px;
   padding-top: 15px;
}
.icon-sub{
   border:1px solid #fff;
   height: 160px;
}
/*.icon-sub:nth-child(1){
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
}
.icon-sub:nth-child(2){
  border:1px solid #fff;
  border-top:0px solid #fff;
}
.icon-sub:nth-child(3){
  border-left:1px solid #fff;
  border-bottom:1px solid #fff;
}
.icon-sub:nth-child(4){
  border-right:1px solid #fff;
  border-top:1px solid #fff;
}
.icon-sub:nth-child(5){
  border:1px solid #fff;
  border-bottom:0px solid #fff;
}
.icon-sub:nth-child(6){
  border-left:1px solid #fff;
  border-top:1px solid #fff;
}*/




#main-icon2{
  background-color: #ffffff;
}

.icon-text2{
  font-family: Sukhumvit-S;
  color: #808597; 
  text-align: center;  
  height: 50px; 
  padding-bottom: 10px;
  margin-top: 10px;
 
}


.icon-sub2{
  border:1px solid #8d8f90;
}


.icon-sub2:hover{
  background-color:  #808597;
}
.icon-sub2:hover .icon-text2{
  color: #fff !important;
}


 
/*.icon-sub2:nth-child(1){
  border-right:1px solid #8d8f90;
  border-bottom:1px solid #8d8f90;
}
.icon-sub2:nth-child(2){
  border-left:1px solid #8d8f90;
  border-bottom:1px solid #8d8f90;
}
.icon-sub2:nth-child(3){
  border-right:1px solid #8d8f90;
  border-top:1px solid #8d8f90;
}
.icon-sub2:nth-child(4){
  border-left:1px solid #8d8f90;
  border-top:1px solid #8d8f90;
}
*/

.text-tol3{
  font-family: Sukhumvit-S;
  color: #fff;
  position: absolute;
  bottom:0px; 
  right: 0px;
  background-color:rgba(0,162,227,0.8);
  padding: 10px;
  padding-right: 20px;
  height: 45px;
  padding-left: 20px;
 
}
.text-tol3 span{
  font-family: Sukhumvit-S;
  font-size: 12px;
  padding-top: 0px;
  text-transform: uppercase;
}
.text-div3{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -30px;
  border-top: 45px solid transparent;
  border-right: 30px solid rgba(0,162,227,0.8);
}
#main-div3 #table-index tr  {
  background-color: #e6e6e7;
}
#main-div3 #table-index tr td {
    border: 1px solid #808597;
    border-collapse: collapse;
}

#main-div3 #table-index tr:hover {
  background-color: #fff;
}
 
 

.table tbody tr :nth-child(1){
  text-align: center;
}
.table tbody tr :nth-child(2){
  text-align: left;
  font-family: Sukhumvit-S;
  color: #808597;
}
.table tbody tr :nth-child(3){
  text-align: center;
  color: #808597;
}
.table tbody tr i{
  color: #808597;
}
.table tbody tr a{
  color: #808597;
}
#footer{
  background-color: #808080;
  font-family: Sukhumvit-S;
  text-align: center;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
}


.pot-l{
  position: absolute;
  background-color:rgba(0,162,227,0.9);
  width: 45px;
  height: 50px;
  color: #fff;
  text-align: center;
  left: 0;
  padding-top: 8px;
  top: 44%;
  z-index: 99;
  margin-left: 1px;
}

.pot-r{
  position: absolute;
  background-color:rgba(0,162,227,0.8);
  width: 45px;
  height: 50px;
  color: #fff;
  text-align: center;
  right: 0px;
  padding-top: 8px;
  top: 44%;
  z-index: 99;
  margin-right: 1px;
}

.pot2-l{
  position: absolute;
  background-color:rgba(101,125,150,0.9);
  width: 28px;
  height: 40px;
  color: #fff;
  text-align: center;
  left: 0;
  padding-top: 8px;
  top: 35%;
  z-index: 99;
  margin-left: 0px;
}

.pot2-r{
  position: absolute;
  background-color:rgba(101,125,150,0.8);
  width: 28px;
  height: 40px;
  color: #fff;
  text-align: center;
  right: 0px;
  padding: 0px;
  top: 35%;
  z-index: 99;
  margin-right: 1px;
  padding-top: 8px;
}
.pl-up{
  padding: 0px;
  background-color: #00326b;
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  color: #fff;
}
.pl-down{
  padding: 0px;
  background-color: #00326b;
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  margin-top: 20px;
  color: #fff;
}

.tab-col{
  font-family: Sukhumvit-S;
  border-top: 1px solid #404041;
  border-bottom: 1px solid #404041;
}
.tab-col  li {
  padding:10px 30px  0px 30px;

}

@media only screen and (max-width: 991px) {
  .wb1{
    display: none;
  }
  .mar-top{
    margin-top: 250px;
  }

}
@media only screen and (min-width: 992px) {
  .wb2{
    display: none;
  }
  .mar-top{
    margin-top: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .mar-top{
    margin-top: 150px;
  }
}
.searchF i{
  position: absolute;
  padding-left: -15px;
  margin-left: 0px;
  margin-top: -6px;
  color: #000;
  text-transform: uppercase;
}
.searchF label{
  padding:0px;
  padding-bottom: -5px;
}
 
 
input[type="search"] {
  width: 100px;
  border: none;
  padding-left: 25px;
  background-color: #00A2E3 !important;
}


.ass2 span{
  font-size: 15px;
  margin-left: -40px;
  padding-right: 30px;
}
 
/*002852*/



.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}


.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.openBtn:hover {
    background: #bbb;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 1);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding:  10px;
    border: none;
    font-size: 40px;
    background: transparent;
    width: 100%;
    color: #bbb;
    padding-left: 60px;
    font-family: Sukhumvit-T;
    border-bottom: 2px solid #bbb;
}
.overlay input[type=text]:hover {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.overlay input[type=text]:fucus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.overlay i {
  position: absolute;
  color: #fff;
  left: 0;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 40px;
}
/*.overlay input[type=text]:hover {
    background: #f1f1f1;
}  
     */    
 
.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/*.overlay button:hover {
    background: #bbb;
}*/

.wb2 .navbar-nav .nav-item.active{
  color: #fff !important;
}


.ag{
  background-color:rgba(255, 255, 255, .5) !important;
}
.top-cen{
  position: absolute;
  background-color:rgba(255, 255, 255, .5) !important;
  color: #000;
  font-family: Sukhumvit-S;
  padding: 15px;
  font-size: 18px;
  width: 290px;
}

.top-cen span{
  color: #000;
  font-size: 17px;
}


.top-cen2{
  position: absolute;
  background-color:rgba(255, 255, 255, .5) !important;
  color: #000;
  font-family: Sukhumvit-S;
  padding: 15px;
  padding-left: 30px;
  padding-bottom: 5px;
  font-size: 15px;
  margin-top: -5px;
  width: 265px;
}

.top-cen2 span{
  color: #000;
  font-size: 14px;
}

.p-main-info{
  padding: 0px;
  background-color: #fff;
  height: 49px;

}
 
.p-1-info{
  position: absolute;
  top: 0px;
  font-family: Sukhumvit-B;
  color: #e6e6e7; 
  background-color: #009fe0;
  line-height: 50px;
  font-size: 18px;
  padding-left: 15px !important;
  width: 180px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;

}
.p-t-info{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -27px; 
  border-bottom: 50px solid #009fe0;
  border-right: 27px solid transparent;
}

.l-row{
  padding-right:0px;
}
.r-row{
  background-color: #d8d9da;
  padding: 30px;

}

.r-row h4{
  color: #002852;
  padding: 15px;
    font-family: Sukhumvit-B;
}

.r-row h6{
  color: #80808f;
  padding-left: 15px;
  margin-top: -10px;
  font-family: Sukhumvit-S;
}

.r-row p{
  color: #80808f;
  padding-left: 15px;
  font-family: Sukhumvit-S;
  text-align: justify;
  
}
.r-row .bot-line{
  border-bottom: 1px solid #80808f;
  margin: 15px;
}

.r-row img{
  padding-right: 5px;
}

.a-read{
  background-color: #002852;
  color: #fff;
  font-family: Sukhumvit-S;
  padding: 8px 15px;
  position: absolute;
  bottom: 30px;
  border-radius: 15px;
  border: 1px solid #002852;
  left: 0px;
  margin-left: 45px;
}
.a-read:hover{
  background-color: #fff;
  color: #002852;
  border: 1px solid #002852;
    
}
.bot-div{
  background-color: #e3e3e4;
}

.m-row{
  background-color: #fff;
  padding: 15px;
 
}

.m-row h4{
  color: #002852;
  padding: 15px;
    font-family: Sukhumvit-B;
}

.m-row h6{
  color: #80808f;
  padding-left: 15px;
  margin-top: -10px;
  font-family: Sukhumvit-S;
}

.m-row p{
  color: #80808f;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Sukhumvit-S;
  text-align: justify;
  
}
.m-row .bot-line{
  border-bottom: 1px solid #80808f;
  margin: 15px;
}

.m-row img{
  padding-right: 5px;
}


.a-read2{
  background-color: #002852;
  color: #fff;
  font-family: Sukhumvit-S;
  padding: 8px 15px; 
  border-radius: 15px;
  border: 1px solid #002852;

}
.a-read2:hover{
  background-color: #fff;
  color: #002852;
  border: 1px solid #002852;
    
}
.mar-line {
  margin-top: 20px;
  margin-bottom: 20px;
}

.centered {
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered2 h3{
  margin-top: -80%;
}

.centered h1{
  font-family: Sukhumvit-S;
  text-align: center;
}
.centered h3{
  font-family: Sukhumvit-S;
  text-align: center;
}


.bottom-right {
    position: absolute;
    bottom: 45%;
    right:15%;
}

.search-put input[type="text"]{
   background: transparent;
    border: none;
  margin: 0;
  background-color: transparent !important;
}
.search-put input[type="text"]:focus{
  
  border-color:#ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-put .form-inline {
  border-bottom: 2px solid #009bdc;
  padding: 0px;
}

.search-put a{
  color: #009bdc;
  font-family: Sukhumvit-S;
  margin-top: -5px;
  padding-left: 10px;
}
.search-put i{
  color: #009bdc;
 
}

.tab-pane .container{
  background-color: #fff;
}


.tab-in .nav-link{
  font-family: Sukhumvit-S;
  color: #80808b;
}
.tab-in .nav-link.active{
  background-color: #009bdc;
  border:0px solid #80808b;
  color: #fff;

}

.tab-in li a{
  border-radius: 0px !important;
  padding:8px 30px  8px 30px;
}

.tab-in li {
  border:1px solid #80808b;
}



#table-form thead tr {
  background-color: #dfdfe0;
  color: #002852;
  font-family: Sukhumvit-S;
  height: 60px;
  vertical-align: middle;
}

#table-form thead tr th:nth-child(1){
  text-align: left;
  padding-left: 5%;
  width: 60%;
}
#table-form thead tr th:nth-child(2){
  text-align: left;
}
#table-form tbody tr td:nth-child(1){
  text-align: left;
  padding-left: 5%;
}



#table-form tbody tr td{
  color: #002852;
  font-family: Sukhumvit-S;
  height: 60px;
  vertical-align: middle;
}
#table-form tbody tr:nth-child(odd) {
  background-color: #fff;
}
#table-form tbody tr:nth-child(even) {
  background-color: #dfdfe0;
}

#table-form tbody tr a i{
  color: #002852;
}

.bot-table .bot-l{
  text-align: left !important;
  color: #59595c;
}
.bot-table .bot-r{
  text-align: right !important;
}

.bot-table .bot-r{
  text-align: right !important;
}

.bot-table .bot-r a{
  color: #58595b;
  padding:6px 12px;
  border:2px solid #dddddc; 
  background-color: #fff;
  margin-left: 10px;
}
.bot-table .bot-r a:hover{
color: #fff;
  border:2px solid #009bdc; 
  background-color: #009bdc;
}

.bot-table .bot-r a.active{
  color: #fff;
  border:2px solid #009bdc; 
  background-color: #009bdc;
}
.bot-table .bot-r a:nth-child(1){
  color: #58595b;
  padding:6px 10px;
  background-color: #dddddc;
}

.bot-table .bot-r a:last-child{
  color: #58595b;
  padding:6px 10px;
  background-color: #dddddc;  
}

 

.a-enter{
  color: #fff;
  background-color: #009bdc;
  padding: 8px 12px;
  font-family: Sukhumvit-S;
  border-radius: 8px;
}
.a-back{
  color: #fff;
  text-align: right;
  background-color: #002852;
  padding: 8px 12px;
  font-family: Sukhumvit-S;
  border-radius: 8px;
}

.box-4{
  border-top: 3px solid #002852;
  border-bottom: 3px solid #002852;
}

.download-list{
  border-bottom: 0.01em solid #404041;
}

.download-list p{
  text-align: justify;
  margin-bottom: 0px;
  font-family: Sukhumvit-S;
  color: #6d6e70;
}
.download-list span{
  text-align: justify;
  font-family: Sukhumvit-S;
  color: #80808f;
}



.text-des{
  font-family: Sukhumvit-S;
  color: #e5e5e6;
  position: absolute;
  z-index: 99;
  top:0px; 
  background-color: rgba(0,161,226,1);
  padding: 10px;
  padding-right: 5px;
  height: 45px;
 
}
.des-div{
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -28px;
  border-color: rgba(0,161,226,1) transparent transparent transparent;
  border-style: solid;
  border-width: 45px 28px 0 0 ;
}



#div-des-in {
  background-color: transparent;
}
#div-des-in h4{
  color: #002852;
  font-family: Sukhumvit-S;
}

#div-des-in p{
  color: #80808f;
  font-family: Sukhumvit-S;
  text-align: justify;
}
#div-des-in p img{
  padding-right: 10px;
}

#div-des-in .n2-bot{
  border-top: 1px solid #80808f;
}
#div-des-in h5{
  color: #002852;
  font-family: Sukhumvit-S;
}

#table-de tbody tr td{
  text-align: left;
  vertical-align: middle;
}

#table-de tbody tr td:nth-child(3){
  text-align: right;
}

#table-de tbody tr td p{
  text-align: left;
  margin-bottom: 0px;
  font-family: Sukhumvit-S;
  color: #002852;
}
#table-de tbody tr td span{
  text-align: left;
  margin-bottom: 0px;
  font-family: Sukhumvit-S;
  color: #002852;
}

#table-de tbody tr td .download{
  background-color: #00a1e2;
  padding: 6px 12px;
  color: #fff;
  border-radius: 8px;
}
#table-de tbody tr td .download:hover{
  background-color: #002852;
  padding: 6px 12px;
  color: #fff;
  border-radius: 8px;
}


.box-4d{
  border-top: 8px solid rgba(0,161,226,.75);
  border-bottom: 8px solid rgba(0,161,226,.75);
  background-color: rgba(0,161,226,.2);
}

.download-list2{
  /*border-bottom: 0.01em solid #404041;*/
  background-color: #fff;
}

.download-list2 p{
  margin-top: 10px;
  text-align: justify;
  margin-bottom: 0px;
  font-family: Sukhumvit-S;
  color: #6d6e70;
  font-size: 14px;
}
.download-list2 span{
  text-align: justify;
  font-family: Sukhumvit-S;
  color: #80808f;
  font-size: 11px;
  padding-left: 5px;
}

@media only screen and (max-width: 768px) {
  .overlay input[type=text] { 
    font-size: 20px;
 
  }
  .overlay i { 
    font-size: 20px;
  }
}
 